<div class="appointment-dialog-container">
  <div class="dialog-header">
    <h2 class="dialog-title">
      <mat-icon>event</mat-icon>
      <span>{{ 'appointmentModal.title' | translate }}</span>
    </h2>
    <button type="button" class="close-dialog-btn" (click)="close()" aria-label="Close modal">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="iframe-container">
    <iframe
      [src]="formUrl"
      style="width:100%;height:100%;min-height:680px;border:none;border-radius:4px"
      id="inline-ISdbjfvFOOPm2YQArfiL"
      data-layout="{'id':'INLINE'}"
      data-trigger-type="alwaysShow"
      data-trigger-value=""
      data-activation-type="alwaysActivated"
      data-activation-value=""
      data-deactivation-type="neverDeactivate"
      data-deactivation-value=""
      data-form-name="Website Appt Request Form - A2P"
      data-height="1207"
      data-layout-iframe-id="inline-ISdbjfvFOOPm2YQArfiL"
      data-form-id="ISdbjfvFOOPm2YQArfiL"
      title="Website Appt Request Form - A2P">
    </iframe>
  </div>
</div>
